.rcdateinput
  position: relative
  overflow: visible
  input
    width: 100%
    box-sizing: border-box
    outline: none
    height: 28px
    line-height: 28px
    padding: 0 $padding*2
    border-radius: $radius
    color: $baseColor
    border: $containerBorder
    background: $containerBg
  .rcdate
    position: absolute
    z-index: 99
    &.topLeft,
    &.topRight
      bottom: 102%
    &.bottomLeft,
    &.bottomRight
      top: 102%
    &.topLeft,
    &.bottomLeft
      left: 0
    &.topRight,
    &.bottomRight
      right: 0

