/* size */
$radius: 4px

$navHeight: 28px
$rowHeight: 25px
$btnPadding: 4px

$containerWidth: 220px

/* color */

// container
$containerBg: #555
$containerBorder: 1px solid #333

// picker
$pickerColor: #aaa
$pickerBg: #bbb
$pickerHover: #333
$pickerDisabled: #bbb
$pickerDisabledHover: transparent

$currentPickerColor: #dfdfdf
$currentPickerBg: #bbb

$selectedPickerColor: #F7F7F7
$selectedPickerBg: #3B83C0

$selectedCurrentPickerColor: #F7F7F7
