/* vars for dark skin */
/* size */
$radius: 4px
$padding: 4px

$baseSize: 14px
$bodySize: 12px

$containerWidth: 220px

// head
$navHeight: 28px
$btnPadding: 4px
$btnWidth: $containerWidth / 4 - 10
$labelWidth: $containerWidth / 2 - 20

// body
$dayHeight: ($containerWidth - $padding  * 2) / 7 - 3px
$monthHeight: $containerWidth / 4
$yearHeight: $containerWidth / 4

/* color */

$baseColor: #cfcfcf

// container
$containerBg: #555
$containerBorderColor: #333
$containerBorder: 1px solid $containerBorderColor

// head
$headBg: #555
$headBorder: 1px solid #444

// body
$bodyBg: #555

// picker
$pickerColor: #aaa
$pickerBg: #bbb
$pickerHover: #333
$pickerDisabled: #888
$pickerDisabledHover: transparent

$currentPickerColor: #dfdfdf
$currentPickerBg: #bbb

$selectedPickerColor: #F7F7F7
$selectedPickerBg: #3B83C0

$selectedCurrentPickerColor: #F7F7F7
